.sideBarWrapper {
  transition: transform .2s ease-in-out;
  position: absolute;
  left: 0;
  bottom: 0;
  top: 0;
  width: 150px;
  background: #001529;

  .title {
    font-size: 20px;
    color: white;
    font-weight: bold;
    line-height: 60px;
    height: 60px;
    text-align: center;
  }

  :global {
    .ant-menu {
      margin-top: 10px;
    }
  }
}



